<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ingrese cantidades</title>
</head>

<body>
    <form action="/cantidades" method="post">
        <label for="ingresos">Nombre de ingreso</label>
        <input type="number" name="ingresos" id="ingresos">
        <label for="gastos">Monto</label>
        <input type="number" name="gastos" id="gastos">
        <button type="submit">Ingresar</button>
    </form>
</body>
</html>