@font-face {
    font-family: 'Typold ExtraBold';
    font-style: normal;
    font-weight: normal;
    src: local('Typold ExtraBold'), url('The Northern Block Ltd - Typold ExtraBold.woff') format('woff');
}

body{
    font-family:'Typold ExtraBold';
    color: #272343;
    width: 90%;
    max-width: 1040px;
    margin:auto auto;
    background-color: #fffffe;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    margin-top: 30px;
}
.logoDiv{
    font-size: 24px;
    align-items: center;
    justify-content: center;
    display: flex;
    height: 100%;
}
.logo{
    height: 2em;
    margin-right: 10px;
}
.logo.text{
    height: auto;
}
.button.is-warning{
    font-size: 16px;
    font-family:'Typold ExtraBold' ;
    border-radius: 15px;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
a{
    font-size: 16px;
    margin: 0px 10px;
    color: #272343;
}
section{
    margin-top: 5rem;
    display: flex;
    justify-content: space-between;
}
h1{
    font-size: 2.5rem;
}
.textContent{
    width: 50%;

}
.logoPadre{
    position: absolute;
}
.animacion{
    display: flex;
    justify-content: flex-end;
    width: 40%;
}
.moneda{
    position: absolute;
    left: 28%;
    top:-5%;
    animation-name: goDown;
    animation-duration: 2s;
    animation-delay: 2s;
    animation-direction: alternate;
    animation-iteration-count: infinite;

}
.caja{
    width: 35%;
    height:30%;
    z-index: 2;
    position: absolute;
    top:36%;
    left:28.5%;
    background-color: #e3f6f5;
}

@keyframes goDown{
    0%{
        top:-5%
    }
    100%{
        top:10%
    }
}
.logo2{
    width: 90%;
    z-index: 3;
}


.results{
    position: absolute;
    left: 50%;
    top:50%;
    
}
.resultsExpense{
    position: absolute;
    left: 50%;
    top: 50%;
}
.form{
    display: flex;
    justify-content:center;
    flex-direction: column;
    align-items:flex-start;   
    position: absolute;
}
.results.animation{
    animation-name: resultsToOpacity;
    animation-duration: 1s;
    animation-fill-mode:forwards;
}
.resultsExpense.animation{
    animation-name: resultsExpenseToOpacity;
    animation-duration: 1s;
    animation-fill-mode:forwards;
}
.form.animation{
    animation-name: formToRight;
    animation-duration: 1s;
    animation-fill-mode:forwards;
}
.form.lastAnimation{
    animation-name: formAllTheWay;
    animation-duration: 1s;
    animation-fill-mode:forwards;
}
@keyframes formToRight {
    0%{left:9%;}
    /* 50%{left: 4.5rem;} */
    100%{left:25%;}
}
@keyframes formAllTheWay {
    0%{left:25%;}
    /* 50%{left: 4.5rem;} */
    99%{left:69%;opacity: 0%;}  
    100%{left:69%;opacity: 0%; visibility: hidden;}
}
@keyframes resultsToOpacity {
    0%{opacity:0%;}
    /* 50%{left: 4.5rem;} */
    100%{left:10%; opacity:100%;}
}
@keyframes resultsExpenseToOpacity {
    0%{opacity:0%; left: 1rem;}
    /* 50%{left: 4.5rem;} */
    100%{left:25%; opacity:100%;}
}
.botones{
    display: flex;
}
button{
    margin: 0.1rem ;
}
table{
    table-layout: fixed;
    max-height: 2em;
    width: 11em;
}
td{
    word-wrap: break-word;
}