@font-face {
    font-family: 'Typold ExtraBold';
    font-style: normal;
    font-weight: normal;
    src: local('Typold ExtraBold'), url('The Northern Block Ltd - Typold ExtraBold.woff') format('woff');
}
body{
    font-family:'Typold ExtraBold';
    color: #272343;
    width: 90%;
    max-width: 1040px;
    margin:auto auto;
    background-color: #fffffe;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    margin-top: 30px;
}
.logoDiv{
    font-size: 24px;
    align-items: center;
    justify-content: center;
    display: flex;
    height: 100%;
}
.logo{
    height: 2em;
    margin-right: 10px;
}
.logo.text{
    height: auto;
}
.button.is-warning{
    font-size: 16px;
    font-family:'Typold ExtraBold' ;
    border-radius: 15px;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
a{
    font-size: 16px;
    margin: 0px 10px;
    color: #272343;
}
.results{
    position: relative;
    left: 5rem;
    top: 4rem;
    
}
.resultsExpense{
    position: relative;
    left: -5rem;
    top: 4rem;
}
.form{
    display: flex;
    justify-content:center;
    flex-direction: column;
    align-items:flex-start;
    position: relative;
    left: 4rem;
   
}
.results.animation{
    animation-name: resultsToOpacity;
    animation-duration: 1s;
    animation-fill-mode:forwards;
}
.resultsExpense.animation{
    animation-name: resultsExpenseToOpacity;
    animation-duration: 1s;
    animation-fill-mode:forwards;
}
.form.animation{
    animation-name: formToRight;
    animation-duration: 1s;
    animation-fill-mode:forwards;
}
.form.lastAnimation{
    animation-name: formAllTheWay;
    animation-duration: 1s;
    animation-fill-mode:forwards;
}
@keyframes formToRight {
    0%{left: 4rem;}
    /* 50%{left: 4.5rem;} */
    100%{left:15rem;}
}
@keyframes formAllTheWay {
    0%{left:15rem;}
    /* 50%{left: 4.5rem;} */
    99%{left:69%;opacity: 0%;}  
    100%{left:69%;opacity: 0%; visibility: hidden;}
}
@keyframes resultsToOpacity {
    0%{opacity:0%;}
    /* 50%{left: 4.5rem;} */
    100%{left:-10rem; opacity:100%;}
}
@keyframes resultsExpenseToOpacity {
    0%{opacity:0%; left: 1rem;}
    /* 50%{left: 4.5rem;} */
    100%{left:-9rem; opacity:100%;}
}
.botones{
    display: flex;
}
button{
    margin: 0.1rem ;
}
table{
    table-layout: fixed;
    max-height: 2em;
    width: 11em;
}
td{
    word-wrap: break-word;
}