<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ingrese cantidades</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header>
        <div class="logoDiv">
            <img class="logo" src="/images/LOGO.png" alt="">
            <p class="logo text">Cashwise</p>
        </div>
        <nav>
            <button class="button is-warning">Calculate</button>
            <a href="#">About</a>
            <a href="#">Contact</a>
        </nav>
    </header>
    <section>
        <div class="textContent">
            <h1>Its time to get orginezed Cashwise ;)</h1>
            <p>A simple tool to calculate and visualize all your earnings and spendings, from this month, week, year or trimester. Cashwise will help you be more aware of your economy, save money and more!</p>
        </div>
        <div class="animacion">
            <div class="logoPadre">
                <img class="moneda" src="/images/moneda.png" alt="">
                <div class="caja"></div>
                <img class="logo2" src="/images/SINMONEDA.png" alt="">
            </div>
        </div>
    </section>



    <form class="form" id="form" action="" method="post">
        
        
        <div class="formContent" id="formContent" >
            <label for="Nombre" class="label mt-6" id="nombreLabel">Nombre de ingreso</label>
            <input class="input is-warning is-small column mb-1"  type="text" name="ingresoNombre" id="ingresoNombre">
            <label for="Monto" class="label mt-2" id="montoLabel">Monto</label>
            <input class="input is-warning is-small column mb-1"  type="number" name="ingresoMonto" id="ingresoMonto">
        </div>
        
        <div class="botones">
            <button  class="button is-warning is-link my-1" id="ingresar" type="submit">Ingresar</button>
            <button  class="button is-warning is-link my-1" id="masCampos">+</button>
        </div>

    </form>
    
    
    <script type="text/javascript" src="/javascript/index.js"></script>
</body>
</html>