<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ingrese cantidades</title>
</head>
<body>
    <form id="form" action="" method="post">
        <label for="Nombre">Nombre de ingreso</label>
        <input type="text" name="ingresoNombre" id="ingresoNombre">
        <label for="Monto">Monto</label>
        <input type="number" name="ingresoMonto" id="ingresoMonto">
        
        <button id="ingresar" type="submit">Ingresar</button>
    </form>
    <button id="masCampos">+</button>
    <script type="text/javascript" src="/javascript/index.js"></script>
</body>
</html>